@model FishyBuisness_3.Models.Fish

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fish</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FishName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FishName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FishDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FishDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Spieces)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Spieces)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habitat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habitat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lenght)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lenght)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Environment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Environment.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FishId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
